dist: bionic
language: python
python:
    - 3.8
env:
  global:
    - OWNER=${TRAVIS_REPO_SLUG%/*}
git:
  depth: false
before_install:
  - git tag
install:
  - sudo apt-get -y install libsecp256k1-0
  - pip install -r contrib/requirements/requirements-travis.txt
cache:
  - pip: true
  - directories:
    - /tmp/electrum-build
script:
    - tox
after_success:
    - if [ "$TRAVIS_BRANCH" = "master" ]; then pip install requests && contrib/push_locale; fi
    - coveralls
jobs:
  include:
    - name: "Flake8 linter tests"
      language: python
      install: pip install flake8
      script: flake8 . --count --ignore F821 --select=E9,F63,F7,F82 --show-source --statistics
    - if: branch = bixin_dev
      name: "Native Android build"
      services:
        - docker
      install:
        - while sleep 60; do echo "=====[ $SECONDS seconds still running ]====="; done &
        - sudo docker pull lightningcn/electrum_env:latest
      script:
        # Output something every minute or Travis kills the job
        - while sleep 60; do echo "=====[ $SECONDS seconds still running ]====="; done &
        - sudo docker run --rm -it --name electrum-android-native-builder-cont -v $PWD:/data --workdir=/data/android lightningcn/electrum_env:latest /bin/bash -c "cp ~/android/local.properties local.properties && cp debug.keystore ~/.android/debug.keystore && /data/android/gradlew app:assembleDebug"
        # kill background sleep loop
        - kill %1
        - ls -la android/app/build/outputs/apk/RegTest/debug
        - if [ $(ls android/app/build/outputs/apk/RegTest/debug/ | grep -c bixin-*) -eq 0 ]; then exit 1; fi
      after_success: true 

branches:
  except:
    - travis-build

before_deploy:
  - git tag -f travis-build
  - git remote add gh
    https://${OWNER}:${GITHUB_API_KEY}@github.com/${TRAVIS_REPO_SLUG}.git
  - git push gh :travis-build || true
  - git push -f gh travis-build
  - git remote remove gh

deploy:
  provider: releases
  api_key: $GITHUB_API_KEY
  file_glob: true
  file: 
    - "android/app/build/outputs/apk/MainNet/debug/*.apk"
    - "android/app/build/outputs/apk/MainNet/release/*.apk"
    - "android/app/build/outputs/apk/TestNet/debug/*.apk"
    - "android/app/build/outputs/apk/TestNet/release/*.apk"
    - "android/app/build/outputs/apk/RegTest/debug/*.apk"
    - "android/app/build/outputs/apk/RegTest/debug/*.json"
    - "android/app/build/outputs/apk/RegTest/release/*.apk"
  skip_cleanup: true
  name: electrum android development build (${TRAVIS_BRANCH})
  body: Automatic electrum android development build of $TRAVIS_BRANCH branch (commit $TRAVIS_COMMIT) built by Travis CI on $(date +'%F %T %Z').
  prerelease: true
  overwrite: true
  target_commitish: $TRAVIS_COMMIT
  on:
    branch: bixin_dev
    tags: false

notifications:
  slack:
    rooms:
      secure: "nrnITD4YjeHjYQmE4BM+543Mt9eBZEuUT8Tn+IiQ/YoW5VDvmVq5Ry98cvWeXKlxn/4U07HP9RniyT01uARoE6VS1xTyVtmohXY8I1egZVD2xssrsQuOvvv3tN1Bz4W5GU+JOnltw6WkT7599xkdzOavBEK8Js72PXThheaDqS72yYjZlKtmssaW2ETjDKKXfyd36CmgCH0YtLbAT+i0/V1dx9Qh3+uVs8A19CU8XW8HuW19mkZ7ViXhSw8/UGfJi/fihQeyDYAulWS5z1pjZyfR8u0ePBI832uElvKDWevGBc/ARlWkD6YB1D90ocsBGLb3YP4UO0V2jmP5fCWaQXsu7hdYmYdN3cjzAADGKDAMiR3vnm3Q766DL8GH82ClbrDETcATEj/5K9UfmyoHgodbOmQvn1VDrNrhr1Fa481PN6psBM+WrXlsmuBxZV+lfchd8pkKBL3W4L6DMoAmgR2W1gDjeWj/CKzryTUF/COVtXTtSJa83bjRKo6HiKcdPqNTOTRlyXOtvuc011yRopAvZNBLE0mFhm835TGuCrEK7DcJKTMUMNl+EucbrSPvRLzStENxAsuQ27DtRwXklFx7GHbtqYH6wc8+hWRU4T9UpfC1UNatUXRBC6YBmBTarJ9h8clxn7TerkLLgLj9SCXpTW8MH0kqr+udp3VWJng="
  on_success: change  # change: send a notification when the build status changes.
  on_failure: always  # always: always send a notification.
