<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.haobtc.wallet">
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.NFC_TRANSACTION_EVENT"/>
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.nfc" android:required="true" />
    <application
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        android:allowBackup="true">

        <activity android:name="org.haobtc.wallet.activities.GuideActivity">
        </activity>

        <activity android:name="org.haobtc.wallet.activities.PinSettingActivity"
            android:label=""
            android:parentActivityName="org.haobtc.wallet.activities.TransactionDetailsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.haobtc.wallet.activities.PinSettingActivity"/>

        </activity>
        <activity android:name="org.haobtc.wallet.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name="org.haobtc.wallet.activities.SettingActivity"
            android:parentActivityName="org.haobtc.wallet.MainActivity"
            android:label="">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.haobtc.wallet.MainActivity"/>
        </activity>
        <activity android:name="org.haobtc.wallet.activities.TransactionRecordsActivity"
            android:label=""
            android:parentActivityName="org.haobtc.wallet.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.haobtc.wallet.MainActivity"/>
        </activity>
        <activity android:name="org.haobtc.wallet.activities.HardwareInfoActivity"
            android:parentActivityName="org.haobtc.wallet.activities.SettingActivity"
            android:label="">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.haobtc.wallet.activities.SettingActivity"/>
        </activity>
        <activity android:name="org.haobtc.wallet.activities.MessageManagerActivity"
            android:parentActivityName="org.haobtc.wallet.activities.SettingActivity"
            android:label="">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.haobtc.wallet.activities.SettingActivity"/>
        </activity>
        <activity android:name="org.haobtc.wallet.activities.LanguageSettingActivity"
            android:parentActivityName="org.haobtc.wallet.activities.SettingActivity"
            android:label="">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.haobtc.wallet.activities.SettingActivity"/>
        </activity>
        <activity android:name="org.haobtc.wallet.activities.ServerSettingActivity"
            android:parentActivityName="org.haobtc.wallet.activities.SettingActivity"
            android:label="">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.haobtc.wallet.activities.SettingActivity"/>
        </activity>
        <activity android:name="org.haobtc.wallet.activities.TransactionsSettingActivity"
            android:parentActivityName="org.haobtc.wallet.activities.SettingActivity"
            android:label="">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.haobtc.wallet.activities.SettingActivity"/>
        </activity>
        <activity android:name="org.haobtc.wallet.activities.ServiceOnlineActivity"
            android:parentActivityName="org.haobtc.wallet.activities.SettingActivity"
            android:label="">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.haobtc.wallet.activities.SettingActivity"/>
        </activity>
        <activity android:name="org.haobtc.wallet.activities.AboutActivity"
            android:parentActivityName="org.haobtc.wallet.activities.SettingActivity"
            android:label="">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.haobtc.wallet.activities.SettingActivity"/>
        </activity>
        <activity android:name="org.haobtc.wallet.activities.SendOne2OneMainPageActivity"
            android:label=""
            android:parentActivityName="org.haobtc.wallet.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.haobtc.wallet.MainActivity"/>
        </activity>
        <activity android:name="org.haobtc.wallet.activities.SignaturePageActivity"
            android:label=""
            android:parentActivityName="org.haobtc.wallet.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.haobtc.wallet.MainActivity"/>
        </activity>

        <activity android:name="org.haobtc.wallet.activities.ReceivedPageActivity"
            android:label=""
            android:parentActivityName="org.haobtc.wallet.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.haobtc.wallet.MainActivity"/>
        </activity>
        <activity android:name="org.haobtc.wallet.activities.Send2ManyActivity"
            android:label=""
            android:parentActivityName="org.haobtc.wallet.activities.SendOne2OneMainPageActivity">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="org.haobtc.wallet.activities.SendOne2OneMainPageActivity"/>
        </activity>
        <activity android:name="org.haobtc.wallet.activities.SendOne2ManyMainPageActivity"
            android:label=""
            android:parentActivityName="org.haobtc.wallet.activities.Send2ManyActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.haobtc.wallet.activities.Send2ManyActivity"/>
        </activity>
        <activity android:name="org.haobtc.wallet.activities.TransactionDetailsActivity"
            android:label=""
            android:parentActivityName="org.haobtc.wallet.activities.SignaturePageActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.haobtc.wallet.activities.SignaturePageActivity"/>
        </activity>
        <activity android:name="org.haobtc.wallet.activities.TouchHardwareActivity"
            android:label=""
            android:parentActivityName="org.haobtc.wallet.activities.PinSettingActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.haobtc.wallet.activities.PinSettingActivity"/>
        </activity>
        <activity android:name="org.haobtc.wallet.activities.ConfirmOnHardware"
            android:label=""
            android:parentActivityName="org.haobtc.wallet.activities.TouchHardwareActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.haobtc.wallet.activities.TouchHardwareActivity"/>
        </activity>
        <activity android:name="org.haobtc.wallet.activities.CreateWalletActivity" />
        <activity android:name="org.haobtc.wallet.activities.ImportWalletPageActivity"
            android:label=""
            android:parentActivityName="org.haobtc.wallet.activities.CreateWalletActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value="org.haobtc.wallet.activities.CreateWalletActivity"/>

        </activity>
        <activity android:name="org.haobtc.wallet.activities.CreateWalletPageActivity"
            android:parentActivityName="org.haobtc.wallet.activities.CreateWalletActivity"
            android:label="">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value="org.haobtc.wallet.activities.CreateWalletActivity"/>
        </activity>
        <activity android:name="org.haobtc.wallet.activities.PublicKeyInputEditActivity"
            android:label=""
            android:parentActivityName="org.haobtc.wallet.activities.ImportWalletPageActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value="org.haobtc.wallet.activities.ImportWalletPageActivity"/>
        </activity>
        <activity android:name="org.haobtc.wallet.activities.SelectMultiSigWalletActivity"
            android:label=""
            android:parentActivityName="org.haobtc.wallet.activities.PublicKeyInputEditActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value="org.haobtc.wallet.activities.PublicKeyInputEditActivity"/>
        </activity>
        <activity android:name="org.haobtc.wallet.activities.WalletUnActivatedActivity"
            android:label=""/>
        <activity android:name="org.haobtc.wallet.activities.ActivatedProcessing"
            android:label=""/>
        <activity android:name="org.haobtc.wallet.activities.ActivateSuccessActivity"
            android:label=""/>
        <activity android:name="org.haobtc.wallet.activities.CoSignerAddActivity"
            android:label=""
            android:parentActivityName="org.haobtc.wallet.activities.CreateWalletPageActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value="org.haobtc.wallet.activities.CreateWalletPageActivity"/>
        </activity>
        <activity android:name="org.haobtc.wallet.activities.CreateWalletSuccessfulActivity"
            android:label=""/>
    </application>

</manifest>