<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.haobtc.wallet">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- <uses-permission -->
    <!-- android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" -->
    <!-- tools:ignore="ProtectedPermissions" /> -->
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <application
        android:name=".activities.base.MyApplication"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".activities.onlywallet.AppWalletSetPassActivity"></activity>
        <activity android:name=".activities.onlywallet.CreatAppWalletActivity" />
        <activity android:name=".activities.set.recovery_set.BackupMessageActivity" />
        <activity android:name=".activities.set.recovery_set.Backup_recoveryActivity" />
        <activity android:name=".activities.set.recovery_set.RecoverySetActivity" />
        <activity android:name=".activities.set.fixpin.FitBixinKEYActivity" />
        <activity android:name=".activities.set.fixpin.InputNewPINActivity" />
        <activity android:name=".activities.set.fixpin.InputOldPINActivity" />
        <activity android:name=".activities.set.BixinKeyMessageActivity" />
        <activity android:name=".activities.set.SomemoreActivity" />
        <activity android:name=".activities.set.CurrencyActivity" />
        <activity android:name=".activities.set.BixinKEYMenageActivity" />
        <activity android:name=".activities.onlywallet.CreatFinishPersonalActivity" />
        <activity android:name=".activities.onlywallet.CreateOnlyChooseActivity" />
        <activity android:name=".activities.onlywallet.CreatePersonalWalletActivity" />
        <activity android:name=".activities.manywallet.ManyWalletTogetherActivity" />
        <activity android:name=".entries.FsActivity" />
        <activity android:name=".activities.transaction.DeatilMoreAddressActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".activities.base.LunchActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.set.VersionUpgradeActivity" />
        <activity android:name=".activities.SettingActivity" />
        <activity android:name=".activities.TransactionRecordsActivity" />
        <activity android:name=".activities.HardwareInfoActivity" />
        <activity android:name=".activities.MessageManagerActivity" />
        <activity android:name=".activities.LanguageSettingActivity" />
        <activity android:name=".activities.ServerSettingActivity" />
        <activity android:name=".activities.TransactionsSettingActivity" />
        <activity android:name=".activities.ServiceOnlineActivity" />
        <activity android:name=".activities.AboutActivity" />
        <activity android:name=".activities.SendOne2OneMainPageActivity" />
        <activity android:name=".activities.SignaturePageActivity" />
        <activity android:name=".activities.ReceivedPageActivity" />
        <activity android:name=".activities.Send2ManyActivity" />
        <activity android:name=".activities.SendOne2ManyMainPageActivity" />
        <activity android:name=".activities.TransactionDetailsActivity" />
        <activity android:name=".activities.TouchHardwareActivity">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
            </intent-filter>

            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech_filter" />
        </activity>
        <activity android:name=".activities.ConfirmOnHardware" />
        <activity android:name=".activities.CreateWalletActivity" />
        <activity android:name=".activities.ImportWalletPageActivity" />
        <activity android:name=".activities.CreateWalletPageActivity" />
        <activity android:name=".activities.PublicKeyInputEditActivity" />
        <activity android:name=".activities.SelectMultiSigWalletActivity" />
        <activity
            android:name=".activities.WalletUnActivatedActivity"
            android:label="" />
        <activity android:name=".activities.ActivatedProcessing">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.ActivateSuccessActivity" />
        <activity android:name=".activities.CoSignerAddActivity" />
        <activity android:name=".activities.set.AgreementActivity" />
        <activity android:name=".activities.ShareOtherActivity" />
        <activity android:name=".activities.GuideActivity" />
        <activity android:name=".activities.PinSettingActivity" />
        <activity android:name=".activities.CreateWalletSuccessfulActivity" /> <!-- aotusize -->
        <meta-data
            android:name="design_width_in_dp"
            android:value="360" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="640" />
    </application>

</manifest>